body {
  background-color: rgb(0, 5, 1);
}
.top_header {
  height: 200px;
  background-color: rgb(85, 255, 7);
}
.input {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 40px;
  padding: 6px 8px;
}
.input span {
  flex: 0.02;
}
.input .input-item {
  flex: 0.93;
  padding: 2px 6px;
  border: none;
  background: transparent;
}
.input .input-item:focus {
  outline: none;
}
.to_top {
  margin-top: -100px !important;
}
.card {
  overflow: hidden;
  height: 160px;
}
.card-body span {
  transform: scale(5);
  color: white;
  opacity: 0.5;
  position: relative;
  bottom: 5px;
  right: 7px;
  float: right;
}
@media (max-width: 576px) {
  .to_bottom {
    margin-top: 20px !important;
  }
}
